/*pagging******************************************************************************/

.custompagination ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.custompagination ul li .mat-raised-button,
.custompagination ul li .mat-button {
    min-width: 0 !important;
}


/**************************************************************************************/
