<h3 class="pad0 mar0">
    Pagination
</h3>
<hr/>

<pagination 
    totalrecords="103" 
    pagesize="10" 
    pagescount="5" 
    selectedpage="1" 
    (onPageChange)="onPageChange($event)" 
    previousbtncss="btn btn-primary glyphicon glyphicon-menu-left"
    nextbtncss="btn btn-primary glyphicon glyphicon-menu-right" 
    btncss="btn" selectedcss="btn-primary" 
    cssclass="custompagination">
</pagination>
<br/>

<h3>Markup</h3>
<pre class="codecontainer">
    <code>
        <span class="startelement">&lt;pagination</span>
        <span>totalrecords="103"</span> 
        <span>pagesize="10"</span>
        <span>pagescount="5" </span>
        <span>selectedpage="1"</span>
        <span>(onPageChange)="onPageChange($event)" </span>
        <span>previousbtncss="btn btn-primary glyphicon glyphicon-menu-left"</span>
        <span>nextbtncss="btn btn-primary glyphicon glyphicon-menu-right"</span>
        <span>btncss="btn"</span>
        <span>selectedcss="btn-primary"</span>
        <span>cssclass="custompagination"&gt;</span>
        <span class="endelement">&lt;/pagination&gt;</span>
     </code>
</pre>